.edit-form {
    display: inline-block;
    width: 100%;
}

.edit-form h1 {
    text-align: center;
}

.edit-form form {
    float: left;
    width: calc(45% - 2px);
    margin-left: 5%;
}

form .form-control {
    display: block;
    width: 98%;
    padding: 0 1%;
}
.form-control label {
    font-size: 12px;
    color: #333;
}
.form-control input {
    width: 90%;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    outline: none;
}
.form-control input[type='number'] {
    width: 20%;
}

.edit-form img {
    float: right;
    width: 40%;
    margin-right: 5%;
    border: 1px solid #ccc;
    border-radius: 2px;
}

form button[type='submit'] {
    color: #fff;
    font-size: 20px;
    background-color: rgb(25, 43, 177);
    border-radius: 5px;
    padding: 5px;
    width: 32%;
    margin-left: calc(34% - 5px);
    margin-top: 10px;
}
form button[type='submit']:hover {
    cursor: pointer;
    background-color: rgba(25, 43, 177, .9);
}